body{
  padding-top:6vw;
  background: url(https://images.unsplash.com/photo-1566041510639-8d95a2490bfb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=626&q=80);
  background-size: cover;
  background-position: center;
  background-image: url("backgroundTT.jpg") !important; 
}

.bg-dark {
  background-color: #336fb2 !important;
}