body{
  padding-top:60px;
  background: url(https://images.unsplash.com/photo-1566041510639-8d95a2490bfb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=626&q=80);
  background-size: cover;
  background-position: center;
}

.wrap-table100 {
  width: 100%;
}


/*//////////////////////////////////////////////////////////////////
[ Table ]*/
table {
  width: 100%;
  background-color: #fff;
	border: 2px solid #daeaef;
}
th, td {
  font-weight: unset;
  /* padding-right: 10px; */
	border: 2px solid #daeaef;
}
.column100 {
	width: 13%;
  padding-left: 25px;
}
.column100.column1 {
	width: 10%;
  padding-left: 25px;
  font-size: larger;
  font-style: inherit;
  font-weight: revert;
}
.column100.MediumSeaGreen{
  background-color: MediumSeaGreen;
  font-weight: bold;
}
.column100.lightblue{
  background-color: lightblue;
  font-weight: bold;
}
.column100.lightgreen{
  background-color: lightgreen;
  font-weight: bold;
}
.column100.gold{
  background-color: gold;
  font-weight: bold;
}
.column100.lightsalmon{
  background-color: lightsalmon;
  font-weight: bold;
}
.column100.green{
  background-color: #27ad27;
  font-weight: bold;
}
.column100.red{
  background-color: #cb1e13;
  font-weight: bold;
}
.column100.yellow{
  background-color: #f4f129;
  font-weight: bold;
}
.column100.blue{
  background-color: #29ccf4;
  font-weight: bold;
}
.column100.pink{
  background-color: #f46fda;
  font-weight: bold;
}
.column100.purple{
  background-color: #a518f5;
  font-weight: bold;
}
.column100.orange{
  background-color: #f08a07;
  font-weight: bold;
}
.column100.bluegreen{
  background-color: #1ff7ac;
  font-weight: bold;
}
.column100.darkblue{
  background-color: #0a0ef5;
  font-weight: bold;
}
.row100.head th {
  padding-top: 24px;
  padding-bottom: 20px;
	/*padding-left: -20px;*/
}
.row100 td {
  /* padding-top: 18px;
  padding-bottom: 14px; */
}

/*==================================================================
[ Ver1 ]*/
.scroll{
  height: 550px;
  overflow-y: scroll;
}
.table100{
  padding-top: 50px;
}
.table100.ver1 td {
  font-family: Ariel, Helvetica, sans-serif
  font-size: 14px;
  color: #808080;
  line-height: 1.4;
}

.table100.ver1 th {
	font-family: Ariel, Helvetica, sans-serif
  font-size: 12px;
  color: #fff;
  line-height: 1.4;
  text-transform: uppercase;
  background-color: #132f57;
}

.table100.ver1 .row100:hover {
  background-color: #f2f2f2;
}

.table100.ver1 .column100:hover {
  background-color: #f2f2f2;
}

.table100.ver1 .column100 td:hover {
  background-color: #484848;
}

.table100.ver1 .row100 td:hover {
  background-color: #8ab0db;
  color: #fff;
}