body{
  padding-top:60px;
  background: url(https://images.unsplash.com/photo-1566041510639-8d95a2490bfb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=626&q=80);
  background-size: cover;
  background-position: center;
}

.btn-info{
	background-color: #007bff ;
}

.btn-info:hover {
  background-color: red !important;
}
/* .btn-info:hover, .btn-info:focus, .btn-info:active {
  color: #fff;
  background-color: #00b3db;
  border-color: #285e8e; /*set the color you want here*/
} */

.wrap-table100 {
  width: 100%;
}

/* Popupppp */
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
  z-index: 90;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup1 {
  margin: 80px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 500px;
  position: relative;
  top: 15%;
}

.popup1 h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup1 .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup1 .close:hover {
  color: #333;
}
.popup1 .content {
  max-height: 50%;
  overflow: auto;
}

@media screen and (max-width: 700px){
  .box{
    width: 70%;
  }
  .popup1{
    width: 70%;
  }
  .popup2{
    width: 70%;
  }
}

.form1 {
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}


label {
  display: block;
  margin: 1em 0em 0em 0em;
  font-size: 2em;
  color:#333;
}

/* selector */
.custom-select {
  position: relative;
  font-family: Arial;
  min-width: 300px; 
}
.custom-select:after {
  content: '<>';
  font: 17px "Consolas", monospace;
  color: #333;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  right: 11px;
  /*Adjust for position however you want*/
  
  top: 18px;
  padding: 0 0 2px;
  border-bottom: 1px solid #999;
  /*left line */
  
  position: absolute;
  pointer-events: none;
}

.custom-select select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /* Add some styling */
  width: 100%;
  height: 50px;
  margin: 5px 0px;
  padding: 0px 24px;
  font-size: 18px;
  line-height: 1.75;
  color: #333;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #cccccc;
  -ms-word-break: normal;
  word-break: normal;
}

.popup1 button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #154360;
  width: 40%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 18px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  position: relative;
  top: 53px;
}

.popup1 button:hover,.form button:active,.form button:focus {
  background: #5a9de9;
}

.popup2 h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup2 .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup2 .close:hover {
  color: #333
  ;
}

.form2 {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 500px;
  margin: 110px auto;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form2 input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form2 button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #154360;
  width: 100%;
  border: 0;
  padding: 16px;
  color: #FFFFFF;
  font-size: 18px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  position: relative;
  top: 20px;
}
.form2 button:hover,.form button:active,.form button:focus {
  background: #042233;
}

.ui-datepicker { z-index:9999 !important}





/*//////////////////////////////////////////////////////////////////
[ Table ]*/
table {
  width: 100%;
  background-color: #fff;
	border: 2px solid #daeaef;
}
th, td {
  font-weight: unset;
  /* padding-right: 10px; */
	border: 2px solid #daeaef;
}
.column100 {
	width: 13%;
  padding-left: 25px;
}
.column100.column1 {
	width: 10%;
  padding-left: 25px;
  font-size: larger;
  font-style: inherit;
  font-weight: revert;
}
.column100.MediumSeaGreen{
  background-color: MediumSeaGreen;
  font-weight: bold;
}
.column100.lightblue{
  background-color: lightblue;
  font-weight: bold;
}
.column100.lightgreen{
  background-color: lightgreen;
  font-weight: bold;
}
.column100.gold{
  background-color: gold;
  font-weight: bold;
}
.column100.lightsalmon{
  background-color: lightsalmon;
  font-weight: bold;
}
.column100.green{
  background-color: #27ad27;
  font-weight: bold;
}
.column100.red{
  background-color: #cb1e13;
  font-weight: bold;
}
.column100.yellow{
  background-color: #f4f129;
  font-weight: bold;
}
.column100.blue{
  background-color: #29ccf4;
  font-weight: bold;
}
.column100.pink{
  background-color: #f46fda;
  font-weight: bold;
}
.column100.purple{
  background-color: #a518f5;
  font-weight: bold;
}
.column100.orange{
  background-color: #f08a07;
  font-weight: bold;
}
.column100.bluegreen{
  background-color: #1ff7ac;
  font-weight: bold;
}
.column100.darkblue{
  background-color: #0a0ef5;
  font-weight: bold;
}
.row100.head th {
  padding-top: 24px;
  padding-bottom: 20px;
	/*padding-left: -20px;*/
}
.row100 td {
  /* padding-top: 18px;
  padding-bottom: 14px; */
}

/*==================================================================
[ Ver1 ]*/
.scroll{
  height: 550px;
  overflow-y: scroll;
}
.table100{
  padding-top: 50px;
}
.table100.ver1 td {
  font-family: Ariel, Helvetica, sans-serif
  font-size: 14px;
  color: #808080;
  line-height: 1.4;
}

.table100.ver1 th {
	font-family: Ariel, Helvetica, sans-serif
  font-size: 12px;
  color: #fff;
  line-height: 1.4;
  text-transform: uppercase;
  background-color: #132f57;
}

.table100.ver1 .row100:hover {
  background-color: #f2f2f2;
}

.table100.ver1 .column100:hover {
  background-color: #f2f2f2;
}

.table100.ver1 .column100 td:hover {
  background-color: #484848;
}

.table100.ver1 .row100 td:hover {
  background-color: #8ab0db;
  color: #fff;
}