body{
  font-family: 'Lato', sans-serif;
}

.jumbotron{
  background: url(https://images.unsplash.com/photo-1522202176988-66273c2fd55f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1051&q=80) center center / cover no-repeat;

}

#header{
  padding-top: 70px;
}

#content{
  text-align: center;
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4),
               0px 8px 13px rgba(0, 0, 0, 0.1),
               0px 18px 20px rgba(0, 0, 0, 0.1);
  color: white;
}

.blur {
	-webkit-filter: blur(4px);
	filter: blur(4px);
  filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='4');
}