https://codepen.io/hoimingkenny/pen/KKpeErq


.limiter {
    width: 100%;
    margin: 0 auto;
  }
  
.container-table100 {
width: 100%;
min-height: 100vh;
background: #d1d1d1;

display: -webkit-box;
display: -webkit-flex;
display: -moz-box;
display: -ms-flexbox;
display: flex;
align-items: center;
justify-content: center;
flex-wrap: wrap;
padding: 33px 30px;
background-image: url("backgroundTimeOnTable.jpg");
    /* background-image: url("sea6.jpg"); */
}

.navbar {
	font-family: Ariel, Helvetica, sans-serif;
	font-weight: bold;
  overflow: hidden;
  background-color: #336fb2;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  z-index: 2;
	max-height: 50px;
}

/* Links inside the navbar */
.navbar a {
  /*float: left;*/
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change background on mouse-over */
.navbar a:hover {
  background: #5a9de9;
	color: #fff;
}
.picture{
	float: left;
}

.text100{
	float: right;
}

  
  @import url(https://fonts.googleapis.com/css?family=Roboto:300);

.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}
.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 15px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #5a9de9;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

.form button:hover,.form button:active,.form button:focus {
  background: #5a9de9;
}

label {
  display:block;
  margin: 2em 1em .5em .75em;
  font-size: 2em;
  color:#333;
}

.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}
.container:before, .container:after {
  content: "";
  display: block;
  clear: both;
}
.container .info {
  margin: 50px auto;
  text-align: center;
}
.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}

.container .info span {
  color: #4d4d4d;
  font-size: 12px;
}

.container .info span a {
  color: #000000;
  text-decoration: none;
}

.container .info span .fa {
  color: #EF3B3A;
}

body {
  background: #5a9de9; /* fallback for old browsers */
  background: -webkit-linear-gradient(right, #579be9, #478fe0);
  background: -moz-linear-gradient(right, #579be9, #478fe0);
  background: -o-linear-gradient(right, #579be9, #478fe0);
  background: linear-gradient(to left, #579be9, #478fe0);
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;      
}

.custom-select {
  position: relative;
  font-family: Arial;
}