* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

img {
	width: 300px;
	height: : 150px;
}
body, html {
  height: 100%;
  font-family: Ariel, Helvetica, sans-serif;
}
/*a {
	font-family: Ariel, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 1.7;
	color: #020202;
	margin: 0px;
}

a:focus {
	outline: none;
}

a:hover {
	text-decoration: none;
  color: #3e62e5;
}*/
h1,h2,h3,h4,h5,h6 {
	margin: 0px;
}

p {
	font-family: Ariel, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 1.7;
	color: #020202;
	margin: 0px;
}

ul, li {
	margin: 0px;
	list-style-type: none;
}
.limiter {
  width: 100%;
  margin: 0 auto;
}
.btn-container {
  width: 20%;
	top: 0px;
  position: relative; 
  left: -200px;
	/* display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox; */
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	padding: 15px;
	background-image: linear-gradient(to left, #93e9f4, #236bfa);
	border-radius: 10px;
}
.btn1{
	border-width:2px;
	border-style:solid;
	border-color:white;
	border-radius: 10px;
}
.btn2{
	width: 1000px;
	border-width:2px;
	border-top: none;
	border-left:solid;
	border-right:solid;
	border-bottom: solid;
	border-color:white;
	border-radius: 10px;
}
.btn3{
	width: 1000px;
	border-width:2px;
	border-top: none;
	border-left:solid;
	border-right:solid;
	border-bottom: solid;
	border-color:white;
	border-radius: 10px;
}
.btn4{
	width: 1000px;
	border-width:2px;
	border-top: none;
	border-left:solid;
	border-right:solid;
	border-bottom: solid;
	border-color:white;
	border-radius: 10px;
}
.btn {
  width: 100%;
  display: block;
  height: 120px;
	font-family: Ariel, Helvetica, sans-serif;
  font-size: 20px;
	font-weight: bold;
  color: white; /* White text */
  padding: 10px 24px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
	border-radius: 10px;
}

.btn:hover {
	cursor: pointer;
  color: #3e62e5;
	background: #92e0ff;
}
.container-login100 {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  /*background-image: linear-gradient(to right, #82C5D8, #248882);*/
	background-image: url("sea3.jpg");
}
.logo{
	position: relative;
	top: -380px;
	left: -605px;
}
.wrap-login100 {
  width: 30%;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  padding: 55px 55px 33px 55px;
  position: relative;
	right: 0px;
  box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
}
button {
	outline: none;
	border-style: none;
	background: transparent;
}

button:hover {
	cursor: pointer;
  color: #3e62e5;
}

iframe {
	border: none !important;
}
.text-center{
	padding-top: 33px;
}
.txt1 {
  font-family: Ariel, Helvetica, sans-serif;
  font-size: 13px;
  color: #666666;
  line-height: 1.5;
}

.txt2 {
  font-family: Ariel, Helvetica, sans-serif;
  font-size: 13px;
  color: #333333;
  line-height: 1.5;
}
.login100-form {
  width: 100%;
}
.put-it-here-to-include-padding{
	padding-bottom: 40px;
}
.login100-form-title {
  display: block;
  font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
  font-size: 30px;
  color: #4557e8;
  line-height: 1.2;
  text-align: center;
}
.login100-form-title i {
  font-size: 60px;
}
.wrap-input100 {
  width: 100%;
  position: relative;
  /*border-bottom: 2px outset #9dadaf;*/
  margin-bottom: 37px;
}
.wrap-input100.three{
	position: relative;
	bottom: 70px;
}
.input100 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  color: #555555;
  line-height: 1.2;

  display: block;
  width: 100%;
  height: 45px;
  background: transparent;
  padding: 0 5px;
}
input {
	outline: none;
	border: none;
}

textarea {
  outline: none;
  border: none;
}

textarea:focus, input:focus {
  border-color: transparent !important;
}

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; }
input:focus::-moz-placeholder { color:transparent; }
input:focus:-ms-input-placeholder { color:transparent; }

textarea:focus::-webkit-input-placeholder { color:transparent; }
textarea:focus:-moz-placeholder { color:transparent; }
textarea:focus::-moz-placeholder { color:transparent; }
textarea:focus:-ms-input-placeholder { color:transparent; }

input::-webkit-input-placeholder { color: #adadad;}
input:-moz-placeholder { color: #adadad;}
input::-moz-placeholder { color: #adadad;}
input:-ms-input-placeholder { color: #adadad;}

textarea::-webkit-input-placeholder { color: #adadad;}
textarea:-moz-placeholder { color: #adadad;}
textarea::-moz-placeholder { color: #adadad;}
textarea:-ms-input-placeholder { color: #adadad;}
.focus-input100 {
  position: absolute;
  display: block;
  width: 100%;
  height: 50px;
  top: 0;
  left: 0;
  pointer-events: none;
  border-style: solid;
  border-width: 2px;
  border-radius: 15px;
	color: #adadad;
}

.focus-input100::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;

  /*background: #6a7dfe;*/
}

/*.focus-input100::after {
  font-family: Ariel, Helvetica, sans-serif;
  font-size: 15px;
  color: #999999;
  /*line-height: 1.2;*/

  /*content: attr(data-placeholder);
  display: block;
  width: 100%;
  position: absolute;
  top: 16px;
  left: 0px;
  padding-left: 5px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;

}

.input100:focus + .focus-input100::after {
  top: -20px;
}

.input100:focus + .focus-input100::before {
  width: 100%;
}

.has-val.input100 + .focus-input100::after {
  top: -20px;
}

.has-val.input100 + .focus-input100::before {
  width: 100%;
}*/
.contact-us-button-contain{
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding-top: 13px;
	padding-bottom: 13px;
}
.contact-us-button-wrap{
	width: 100%;
	display: block;
	position: relative;
	top: -450px;
	left: 1200px;
	z-index: 1;
	border-radius: 25px;
	overflow: hidden;
	margin: 0 auto;
}
.contact-us-button{
	position: absolute;
	z-index: -1;
	width: 300%;
	height: 100%;
	background-image: linear-gradient(to right, #93e9f4, #236bfa);
	top: 0;
	left: -100%;

	-webkit-transition: all 0.4s;
	-o-transition: all 0.4s;
	-moz-transition: all 0.4s;
	transition: all 0.4s;
}
.contact-us{
	font-family: Ariel, Helvetica, sans-serif;
	font-size: 20px;
	font-weight: bold;
	color: #fff;
	line-height: 1.2;

	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 20px;
	width: 100%;
	height: 50px;
}
.contact-us-button-wrap:hover .contact-us-button {
  left: 0;
}

.container-login100-form-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 13px;
	padding-bottom: 13px;
}
.container-login100-form-btn.send{
	position: relative;
	bottom: 45px;
	padding-top: 1px;
	padding-bottom: 1px;
}
.container-login100-form-btn.plus{
	position: relative;
	left: 165px;
	bottom: 95px;
}
.wrap-login100-form-btn {
  width: 100%;
  display: block;
  position: relative;
  z-index: 1;
  border-radius: 25px;
  overflow: hidden;
  margin: 0 auto;
}
.wrap-login100-form-btn.plus{
	width: 15%;
}
.login100-form-bgbtn {
  position: absolute;
  z-index: -1;
  width: 300%;
  height: 100%;
  background-image: linear-gradient(to right, #4bddf0, #0a24fb);
  top: 0;
  left: -100%;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}
.login100-form-btn {
  font-family: Ariel, Helvetica, sans-serif;
  font-size: 20px;
	font-weight: bold;
  color: #fff;
  line-height: 1.2;
  text-transform: uppercase;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  width: 100%;
  height: 50px;
}

.wrap-login100-form-btn:hover .login100-form-bgbtn {
  left: 0;
}
.navbar {
	font-family: Ariel, Helvetica, sans-serif;
	font-weight: bold;
  overflow: hidden;
  background-color: #336fb2;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  z-index: 2;
	max-height: 50px;
}

/* Links inside the navbar */
.navbar a {
  /*float: left;*/
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change background on mouse-over */
.navbar a:hover {
  background: #5a9de9;
}
.picture{
	float:left;
}
.text100{
	float: right;
}
