* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
body, html {
	height: 100%;
	font-family: Ariel, Helvetica, sans-serif;
}
h1,h2,h3,h4,h5,h6 {
	margin: 0px;
}
p {
	font-family: Ariel, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 1.7;
	color: #666666;
	margin: 0px;
}
img{
  width: 10vw;
}
.container{
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  /*background: #0a24fb;
  background: -webkit-linear-gradient(right, #0a24fb, #4bddf0);
  background: -o-linear-gradient(right, #0a24fb, #4bddf0);
  background: -moz-linear-gradient(right, #0a24fb, #4bddf0);
  background: linear-gradient(right, #0a24fb, #4bddf0);*/
	background-image: url("sea8.jpg");
  pointer-events: none;
}
.title{
  font-family: Ariel, Helvetica, sans-serif;
	font-size: 40px;
	color: #fff;
  align: center;
  position: relative;
  bottom: 10%;
  left: 35%;
}
.text{
  font-family: Ariel, Helvetica, sans-serif;
	font-size: 20px;
}
.wrap-text{
  width: 60%;
  position: relative;
  bottom: -50px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  padding: 35px 150px 25px 150px;

  box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
}
/*.photo{
  position: relative;
  right: 900px;
  top: 200px;
}*/
.photo {
  border: 3px solid black;
  border-radius: 3px;
  padding-bottom: -3px;
}
.text-wrapper{
  width: 200px;
  position: relative;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  padding: 35px 150px 25px 25px;

  box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
}
/*.personal-txt{
  position: relative;
  top: 400px;
  right: 1100px;
}*/
.name{
  font-family: Ariel, Helvetica, sans-serif;
	font-size: 30px;
	font-weight: bold;
}
/*.name-wrap{
  position: relative;
  left: 40px;
}*/

.navbar {
	font-family: Ariel, Helvetica, sans-serif;
	font-weight: bold;
  overflow: hidden;
  background-color: #336fb2;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  z-index: 2;
	max-height: 50px;
}

/* Links inside the navbar */
.navbar a {
  /*float: left;*/
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change background on mouse-over */
.navbar a:hover {
  background: #5a9de9;
}
.picture{
	float:left;
}
.text100{
	float: right;
}
.photo_container1{
	position: relative;
  top: 48%;
	right: 60%;
	text-align: center;
}
.photo_container2{
	position: relative;
  top: 48%;
	right: 43%;
	text-align: center;
}
.photo_container3{
	position: relative;
	bottom: 2%;
	left: 35%;
	text-align: center;
}
.photo_container4{
	position: relative;
	bottom: 2%;
	left: 38%;
	text-align: center;
}
.photo_container5{
	position: relative;
	bottom: 2%;
	right: 42%;
	text-align: center;
}
.photo_container6{
	position: relative;
	bottom: 2%;
	right: 25%;
	text-align: center;
}
.photo_container7{
	position: relative;
	bottom: 2%;
	left: 20%;
	text-align: center;
}
