* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
body, html {
	height: 100%;
	font-family: Ariel, Helvetica, sans-serif;
}
a {
	font-family: Ariel, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 1.7;
	color: #666666;
	margin: 0px;
	transition: all 0.4s;
	-webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
}

a:focus {
	outline: none !important;
}

a:hover {
	text-decoration: none;
}
h1,h2,h3,h4,h5,h6 {
	margin: 0px;
}

p {
	font-family: Ariel, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 1.7;
	color: #666666;
	margin: 0px;
}

ul, li {
	margin: 0px;
	list-style-type: none;
}
input {
	outline: none;
	border: round;
  /*border-color:#0a24fb;*/
}

textarea {
  outline: none;
  border: round;
  /*border-color: #0a24fb;*/
}

textarea:focus, input:focus {
  /*border-color: transparent;*/
	border: round;
}


input::-webkit-input-placeholder { color: #999999;}
input:-moz-placeholder { color: #999999;}
input::-moz-placeholder { color: #999999;}
input:-ms-input-placeholder { color: #999999;}

textarea::-webkit-input-placeholder { color: #999999;}
textarea:-moz-placeholder { color: #999999;}
textarea::-moz-placeholder { color: #999999;}
textarea:-ms-input-placeholder { color: #999999;}
button {
	outline: none !important;
	border: none;
	background: transparent;
}

button:hover {
	cursor: pointer;
}

iframe {
	border: none !important;
}
img {
	width: 400px;
	height: : 200px;
}
.logo{
	align: center;
	position: relative;
	top: -370px;
	left: 410px;;
}
.container {
	max-width: 1200px;
}
.container-form {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  position: relative;
  z-index: 1;
}

.container-form::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: url("sea2_improved.jpg");
  pointer-events: none;
}
.wrap-contact {
  width: 800px;
	position: relative;
	right: 180px;
	top: 50px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  padding: 72px 150px 25px 150px;

  box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
}
.form{
  width: 100%;
}

.form-title {
  display: block;
  font-family: Ariel, Helvetica, sans-serif;
  font-size: 30px;
  color: #333333;
  line-height: 1.2;
  text-align: left;
  padding-bottom: 34px;
}
.wrap-input100 {
  width: 100%;
  position: relative;
  background-color: #fff;
  border-radius: 20px;
  margin-bottom: 30px;
}

.input100 {
  display: block;
  width: 100%;
  background: transparent;
  font-family: Ariel, Helvetica, sans-serif;
  font-size: 16px;
  color: #4b2354;
  line-height: 1.2;
}
input.input100 {
  height: 62px;
  padding: 0 10px 0 10px;
}


textarea.input100 {
  min-height: 199px;
  padding: 19px 20px 0 10px;
}
.container-contact100-form-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 13px;
	padding-bottom: 13px;
}

.wrap-contact-form-btn {
  width: 100%;
  display: block;
  position: relative;
  z-index: 1;
  border-radius: 25px;
  overflow: hidden;
  margin: 0 auto;
}
.contact-form-bgbtn {
  position: absolute;
  z-index: -1;
  width: 300%;
  height: 100%;
  background-image: linear-gradient(to right, #4bddf0, #0a24fb);
  top: 0;
  left: -100%;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}
.contact100-form-btn {
  font-family: Ariel, Helvetica, sans-serif;
  font-size: 20px;
	font-weight: bold;
  color: #fff;
  line-height: 1.2;
  text-transform: uppercase;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  width: 100%;
  height: 50px;
}

.wrap-contact-form-btn:hover .contact-form-bgbtn {
  left: 0;
}
.navbar {
	font-family: Ariel, Helvetica, sans-serif;
	font-weight: bold;
  overflow: hidden;
  background-color: #336fb2;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  z-index: 2;
	max-height: 50px;
}

/* Links inside the navbar */
.navbar a {
  /*float: left;*/
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change background on mouse-over */
.navbar a:hover {
  background: #5a9de9;
}
.picture{
	float:left;
}
.text100{
	float: right;
}
