* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body, html {
	height: 100%;
	font-family: sans-serif;
}
img{
	width: 16vw;
	height: 8vw;
}
/* ------------------------------------ */
a {
	margin: 0px;
	transition: all 0.4s;
	-webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
}

a:focus {
	outline: none !important;
}

a:hover {
	text-decoration: none;
}

/* ------------------------------------ */
h1,h2,h3,h4,h5,h6 {margin: 0px;}

p {
	font-family: Ariel, Helvetica, sans-serif;
	margin: 0px;}

ul, li {
	margin: 0px;
	list-style-type: none;
}


/* ------------------------------------ */
input {
  display: block;
	outline: none;
	border: none !important;
}

textarea {
  display: block;
  outline: none;
}

textarea:focus, input:focus {
  border-color: transparent !important;
}

/* ------------------------------------ */
button {
	outline: none !important;
	border: none;
	background: transparent;
}

button:hover {
	cursor: pointer;
}

iframe {
	border: none !important;
}



/*//////////////////////////////////////////////////////////////////
[ Table ]*/
.logo{
	position: relative;
	right: 38%;
}
.limiter {
  width: 100%;
  margin: 0 auto;
}

.container-table100 {
  width: 100%;
  min-height: 100vh;
  background: #d1d1d1;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 33px 30px;
  background-image: url("backgroundTimeOnTable.jpg");
	/* background-image: url("sea6.jpg"); */
}

.wrap-table100 {
  width: 70%;
}

/*//////////////////////////////////////////////////////////////////
[ Table ]*/
table {
  width: 100%;
  background-color: #fff;
	border: 2px solid #daeaef;
}

th, td {
  font-weight: unset;
  padding-right: 10px;
	border: 2px solid #daeaef;
}
.column100 {
	width: 13%;
  padding-left: 25px;
}

.column100.column1 {
	width: 10%;
  padding-left: 25px;
  font-size: larger;
  font-style: inherit;
  font-weight: revert;
}
.column100.MediumSeaGreen{
  background-color: MediumSeaGreen;
  font-weight: bold;
}
.column100.lightblue{
  background-color: lightblue;
  font-weight: bold;
}
.column100.lightgreen{
  background-color: lightgreen;
  font-weight: bold;
}
.column100.gold{
  background-color: gold;
  font-weight: bold;
}
.column100.lightsalmon{
  background-color: lightsalmon;
  font-weight: bold;
}
.column100.green{
  background-color: #27ad27;
  font-weight: bold;
}
.column100.red{
  background-color: #cb1e13;
  font-weight: bold;
}
.column100.yellow{
  background-color: #f4f129;
  font-weight: bold;
}
.column100.blue{
  background-color: #29ccf4;
  font-weight: bold;
}
.column100.pink{
  background-color: #f46fda;
  font-weight: bold;
}
.column100.purple{
  background-color: #a518f5;
  font-weight: bold;
}
.column100.orange{
  background-color: #f08a07;
  font-weight: bold;
}
.column100.bluegreen{
  background-color: #1ff7ac;
  font-weight: bold;
}
.column100.darkblue{
  background-color: #0a0ef5;
  font-weight: bold;
}
.row100.head th {
  padding-top: 24px;
  padding-bottom: 20px;
	/*padding-left: -20px;*/
}

.row100 td {
  padding-top: 18px;
  padding-bottom: 14px;
}

/*.row100head.head th {
  padding-top: 24px;
  padding-bottom: 20px;

}

.row100head td {
  padding-top: 18px;
  padding-bottom: 1400px;
	padding-left: 20px
}*/


/*==================================================================
[ Ver1 ]*/
.scroll{
  height: 550px;
  overflow-y: scroll;
}
.table100{
	position: relative;
	bottom: 100px;
	left: 15%;
}
.table100.ver1 td {
  font-family: Ariel, Helvetica, sans-serif
  font-size: 14px;
  color: #808080;
  line-height: 1.4;
}

.table100.ver1 th {
	font-family: Ariel, Helvetica, sans-serif
  font-size: 12px;
  color: #fff;
  line-height: 1.4;
  text-transform: uppercase;

  background-color: #132f57;
}

.table100.ver1 .row100:hover {
  background-color: #f2f2f2;
}

.table100.ver1 .column100:hover {
  background-color: #f2f2f2;
}

.table100.ver1 .column100 td:hover {
  background-color: #484848;
}

.table100.ver1 .row100 td:hover {
  background-color: #8ab0db;
  color: #fff;
}
.container-register-form-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 13px;
	padding-bottom: 13px;
}

.wrap-register-form-btn {
  width: 100%;
  display: block;
  position: relative;
  z-index: 1;
  border-radius: 25px;
  overflow: hidden;
  margin: 0 auto;
}
.register-form-bgbtn {
  position: absolute;
  z-index: -1;
  width: 300%;
  height: 100%;
  background-image: linear-gradient(to right, #4bddf0, #0a24fb);
  top: 0;
  left: -100%;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}
.register-form-btn {
  font-family: Ariel, Helvetica, sans-serif;
  font-size: 20px;
	font-weight: bold;
  color: #fff;
  line-height: 1.2;
  text-transform: uppercase;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  width: 100%;
  height: 50px;
}

.wrap-register-form-btn:hover .register-form-bgbtn {
  left: 0;
}
.navbar {
	font-family: Ariel, Helvetica, sans-serif;
	font-weight: bold;
  overflow: hidden;
  background-color: #336fb2;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  z-index: 2;
	max-height: 50px;
}

/* Links inside the navbar */
.navbar a {
  /*float: left;*/
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change background on mouse-over */
.navbar a:hover {
  background: #5a9de9;
	color: #fff;
}
.picture{
	float: left;
}

.date{
  float: left;
  margin-left: 35%;
}
.text100{
	float: right;
}
a {
 text-decoration: none;
 display: inline-block;
 padding: 8px 16px;
}

a:hover {
 background-color: #8ab0db;
 color: black;
}

.previous {
 background-color: #f1f1f1;
 color: black;
}

.next {
 background-color: #4CAF50;
 color: white;
}

.round {
 border-radius: 50%;
}
.before{
	position: relative;
	top: 5vw;
	right: 50%;
}
.after{
	position: relative;
	top: 5vw;
	left: 23%;
}
.btn-container {
	width: 15%;
	top: 20vw;
	right: 54%;
	position: relative;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	padding: 15px;
	background-image: linear-gradient(to left, #93e9f4, #236bfa);
	border-radius: 10px;
}
.btn1{
	width: 1000px;
	border-width:2px;
	border-style:solid;
	border-color:white;
	border-radius: 10px;
}
.btn2{
	width: 1000px;
	border-width:2px;
	border-top: none;
	border-left:solid;
	border-right:solid;
	border-bottom: solid;
	border-color:white;
	border-radius: 10px;
}
.btn {
  width: 100%;
  display: block;
  height: 120px;
	font-family: Ariel, Helvetica, sans-serif;
  font-size: 20px;
	font-weight: bold;
  color: white; /* White text */
  padding: 10px 24px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
	border-radius: 10px;
}

.btn:hover {
	cursor: pointer;
  color: #3e62e5;
	background: #92e0ff;
}
/*.txt-week{
	text-align: center;
	color: #fff;
	font-family: Ariel, Helvetica, sans-serif;
	font-size: 30px;
	font-weight: bold;
	padding: 20px 20px 20px 20px;
	vertical-align: text-bottom;
}*/
.week{
	position: relative;
	left: 30%;
	bottom: 5px;
	text-align: center;
	color: #fff;
	font-family: Ariel, Helvetica, sans-serif;
	font-size: 30px;
	font-weight: bold;
	padding: 10px 10px 5px 10px;
	vertical-align: text-bottom;
	border-style: solid;
	border-color: #fff;
	border-radius: 30px;
}
