* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
img {
	width: 400px;
	height: 200px;
}
body, html {
  height: 100%;
  font-family: Ariel, Helvetica, sans-serif;
}
a {
	font-family: Ariel, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 1.7;
	color: #020202;
	margin: 0px;
}

a:focus {
	outline: none;
}

a:hover {
	text-decoration: none;
  color: #3e62e5;
}
h1,h2,h3,h4,h5,h6 {
	margin: 0px;
}

p {
	font-family: Ariel, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 1.7;
	color: #020202;
	margin: 0px;
}

ul, li {
	margin: 0px;
	list-style-type: none;
}
.limiter {
  width: 100%;
  margin: 0 auto;
}
.container-register {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
	background-image: url("backgroundTimeOnTable.jpg");
}
/*.logo{

	position: relative;
	top: -400px;
	right: -350px;
}*/
.wrap-register {
  width: 20%;
  min-width: 390px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  padding: 33px 55px 33px 55px;
	position: relative;
	right: 245px;
	top: 40px;
  box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
}
button {
	outline: none;
	border-style: none;
	background: transparent;
}

button:hover {
	cursor: pointer;
  color: #3e62e5;
}

iframe {
	border: none !important;
}
.text-center{
	padding-top: 33px;
}
.txt1 {
  font-family: Ariel, Helvetica, sans-serif;
  font-size: 13px;
  color: #666666;
  line-height: 1.5;
}

.txt2 {
  font-family: Ariel, Helvetica, sans-serif;
  font-size: 13px;
  color: #333333;
  line-height: 1.5;
}
.register-form {
  width: 100%;
}
.put-it-here-to-include-padding{
	padding-bottom: 40px;
}
.register-form-title {
  display: block;
  font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
  font-size: 30px;
  color: #4557e8;
  line-height: 1.2;
  text-align: center;
}
.register-form-title i {
  font-size: 60px;
}
.wrap-input100 {
  width: 100%;
  position: relative;
  border-bottom: 2px outset #9dadaf;
  margin-bottom: 37px;
}

.input100 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  color: #555555;
  line-height: 1.2;

  display: block;
  width: 100%;
  height: 45px;
  background: transparent;
  padding: 0 5px;
}
input {
	outline: none;
	border: none;
}

textarea {
  outline: none;
  border: none;
}

textarea:focus, input:focus {
  border-color: transparent !important;
}

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; }
input:focus::-moz-placeholder { color:transparent; }
input:focus:-ms-input-placeholder { color:transparent; }

textarea:focus::-webkit-input-placeholder { color:transparent; }
textarea:focus:-moz-placeholder { color:transparent; }
textarea:focus::-moz-placeholder { color:transparent; }
textarea:focus:-ms-input-placeholder { color:transparent; }

input::-webkit-input-placeholder { color: #adadad;}
input:-moz-placeholder { color: #adadad;}
input::-moz-placeholder { color: #adadad;}
input:-ms-input-placeholder { color: #adadad;}

textarea::-webkit-input-placeholder { color: #adadad;}
textarea:-moz-placeholder { color: #adadad;}
textarea::-moz-placeholder { color: #adadad;}
textarea:-ms-input-placeholder { color: #adadad;}
/*.focus-input100 {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}
.focus-input100::before {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;

  background: #6a7dfe;
}
.focus-input100::after {
  font-family: Ariel, Helvetica, sans-serif;
  font-size: 15px;
  color: #999999;
  line-height: 1.2;

  content: attr(data-placeholder);
  display: block;
  width: 100%;
  position: absolute;
  top: 16px;
  left: 0px;
  padding-left: 5px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.input100:focus + .focus-input100::after {
  top: -15px;
}

.input100:focus + .focus-input100::before {
  width: 100%;
}

.has-val.input100 + .focus-input100::after {
  top: -15px;
}

.has-val.input100 + .focus-input100::before {
  width: 100%;
}*/
.container-register-form-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 13px;
	padding-bottom: 13px;
}

.wrap-register-form-btn {
  width: 100%;
  display: block;
  position: relative;
  z-index: 1;
  border-radius: 25px;
  overflow: hidden;
  margin: 0 auto;
}
.register-form-bgbtn {
  position: absolute;
  z-index: -1;
  width: 300%;
  height: 100%;
  background-image: linear-gradient(to right, #4bddf0, #0a24fb);
  top: 0;
  left: -100%;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}
.register-form-btn {
  font-family: Ariel, Helvetica, sans-serif;
  font-size: 20px;
	font-weight: bold;
  color: #fff;
  line-height: 1.2;
  text-transform: uppercase;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  width: 100%;
  height: 50px;
}

.wrap-register-form-btn:hover .register-form-bgbtn {
  left: 0;
}
/*.error{
	color: #e3503b;
	font-family: Ariel, Helvetica, sans-serif;
	font-size: 1px;
	/*position: absolute;*/
	/*display: block;
	width: 1px;
	height: 1px;*/
	/*top: 0;
	left: 0;*/
/*}
.message{
	color: #e3503b;
}*/

.navbar {
	font-family: Ariel, Helvetica, sans-serif;
	font-weight: bold;
  overflow: hidden;
  background-color: #336fb2;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  z-index: 2;
	max-height: 50px;
}

/* Links inside the navbar */
.navbar a {
  /*float: left;*/
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change background on mouse-over */
.navbar a:hover {
  background: #5a9de9;
}
.picture{
	float:left;
}
.text100{
	float: right;
}
